.fontFinderForm {
  background-color: var(--color-primary-light);
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
}

.form {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  width: min(var(--max-column-width), 100%);
}

.input {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;

  &::placeholder {
    color: #bbb;
  }
}

.button {
  align-items: center;
  background-color: var(--color-primary-dark);
  border-radius: 1rem;
  border: none;
  color: #fff;
  display: flex;
  font-size: 18px;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  transition: outline 0.2s linear;

  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &:focus {
    outline-offset: -2px;
    outline: 4px solid var(--color-primary-light);
  }

  &:hover {
    cursor: pointer;
    filter: brightness(1.5);
  }
}
