.loader {
  animation: 0.8s loading infinite alternate;
  font-size: 6rem;
}

@keyframes loading {
  from {
    color: var(--color-primary-dark);
    transform: scale(1);
  }
  to {
    color: var(--color-primary-light);
    transform: scale(0.2);
  }
}
