.messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.25rem;
  justify-content: flex-end;
  padding: 5rem 0 6rem;
  width: min(var(--max-column-width), 100%);
}

.message {
  animation: 0.2s fadeIn ease-out;
  display: grid;
  gap: 0.5rem;
  width: min(calc(var(--max-column-width) * 0.75), 100%);
  word-break: break-word;
}

/* Adds extra margin between user and app message groupings */
.fromMe + .fromThem,
.fromThem + .fromMe {
  margin-top: 1rem;
}

.fromThem {
  align-self: start;
  grid-template-columns: auto 1fr;
  justify-items: start;

  .chat {
    background-color: #eee;
  }
}

.fromMe {
  align-self: end;
  grid-template-columns: auto;
  justify-items: end;

  .chat {
    background-color: var(--color-primary-light);
  }
}

.avatar {
  align-self: end;
  color: var(--color-primary-dark);
  visibility: hidden;
  font-size: 32px;

  &.loading {
    animation: 0.8s loading infinite alternate;
  }
}

.chat {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  position: relative;

  &::before {
    bottom: 0;
    content: "";
    display: block;
    height: 1rem;
    position: absolute;
    width: 0.5rem;
    z-index: -1;
  }
}

/* Adds tail to last user message in a group */
.fromMe:last-of-type > .chat::before,
.fromMe:not(:last-of-type):has(+ .fromThem) > .chat::before {
  border-bottom-left-radius: 1rem;
  border-color: var(--color-primary-light);
  box-shadow: -0.25rem 0 0 var(--color-primary-light);
  right: -0.5rem;
}

/* Adds tail to last app message in a group */
.fromThem:last-of-type > .chat::before,
.fromThem:not(:last-of-type):has(+ .fromMe) > .chat::before {
  border-bottom-right-radius: 1rem;
  border-color: #eee;
  box-shadow: 0.25rem 0 0 #eee;
  left: -0.5rem;
}

/* Adds logo to last app message in a group */
.fromThem:last-of-type > .avatar,
.fromThem:not(:last-of-type):has(+ .fromMe) > .avatar {
  visibility: visible;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loading {
  from {
    color: var(--color-primary-dark);
    transform: scale(1);
  }
  to {
    color: var(--color-primary-light);
    transform: scale(0.2);
  }
}
