.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

.appBody {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
  margin-bottom: 4rem;
}

.fontDisplays {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: min(var(--max-column-width), 100%);
}

@media only screen and (min-width: 768px) {
  .app {
    padding: 2rem 2rem 1rem 2rem;
  }
}
