.app {
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: min(600px, 100%);

  textarea,
  button {
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: inherit;
  }

  textarea {
    padding: 1rem;
    resize: none;
  }

  button {
    padding: 0.5rem 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}
