.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  padding: 1rem;

  h1 {
    color: var(--color-primary-dark);
    font-size: 3rem;
  }
}

.form,
.fonts {
  display: flex;
  flex-direction: column;
  width: min(600px, 100%);
}

.form {
  gap: 1rem;
  position: relative;
}

.textarea {
  border: 4px solid var(--color-gray-light);
  border-radius: 1rem;
  overflow: hidden;
  padding: 1rem 1rem 3.5rem 1rem;
  resize: none;
  transition: outline 0.2s linear;

  &:focus {
    outline-offset: -4px;
    outline: 4px solid var(--color-primary-dark);
  }
}

.toolbar {
  align-items: center;
  bottom: 0.5rem;
  display: flex;
  gap: 1rem;
  position: absolute;
  right: 0.5rem;
}

.button {
  align-items: center;
  background-color: var(--color-primary-dark);
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  display: flex;
  font-size: 18px;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  transition: outline 0.2s linear;

  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &:focus {
    outline-offset: -2px;
    outline: 4px solid var(--color-primary-light);
  }

  &:hover {
    cursor: pointer;
    filter: brightness(75%);
  }
}

.fonts {
  gap: 2rem;
}

.font {
  text-align: left;
}

.fontName {
  align-items: center;
  display: flex;
  font-size: 24px;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.fontLink {
  align-items: center;
  color: var(--color-primary-light);
  display: flex;
  transition: color 0.2s linear;

  &:hover {
    color: var(--color-primary-dark);
  }
}

@media only screen and (min-width: 768px) {
  .app {
    padding: 2rem;
  }
}
