:root {
  --color-gray-light: #ccc;
  --color-primary-dark: #8242eb;
  --color-primary-light: #d3baff;
  --color-secondary: #abeb42;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline-color: var(--color-primary-dark);
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
}
