:root {
  /* Colors */
  --color-gray-light: #ccc;
  --color-primary-dark: #2d6a4f;
  --color-primary-light: #b7e5d8;

  /* Dimensions */
  --max-column-width: 600px;

  /* Fonts */
  --font-body: Arial, Helvetica, sans-serif;
  --font-header: "Courier New", Courier, monospace;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline-color: var(--color-primary-dark);
  padding: 0;
}

a {
  color: var(--color-primary-dark);
}

body {
  font-family: var(--font-body);
}
